/*Maak hier jouw CSS!*/
/*kleuren toewijzen aan cointainer*/

.container {
    background-color: antiquewhite;
    font-family: Arial default sans-serif;
    font-style: italic;
    color: white;
    display: grid;
    padding: 16px;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 190px 100px auto 50px;
    grid-template-areas:
    "item-a item-c item-c"
    "item-b item-c item-c"
    "item-b item-e item-d"
    "item-b item-e blanco"
    "item-f item-f item-f"
}
/*instellingen van items*/
.item {
    background-color: crimson;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.45), 0 6px 20px 0 rgba(0,0,0,0.79);
    display: flex;
    padding: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*grid declaratie items*/
.item-a {
    grid-area: item-a;
}

.item-b {
    grid-area: item-b;
}

.item-c {
    grid-area: item-c;
}

.item-d {
    grid-area: item-d;
}

.item-e {
    grid-area: item-e;
}

.item-f {
    grid-area: item-f;
}
/*media instelling voor mobiel*/
    @media screen and (max-width: 576px){
        .container {
            grid-template-columns: 1fr;
            grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
            grid-template-areas:
    "item-a"
    "item-b"
    "item-c"
    "item-d"
    "item-e"
    "blanco"
    "item-f"
        }}
